body {
	text-align: center;
}
.box {
	height: 200px;
	width: 45%;
	display: inline-block;
}
.pink {
	background-color: pink;
}
.blue {
	background-color: blue;
}
.black {
	background-color: black;
}
.purple {
	background-color: purple;
}
@media (max-width: 600px) {
	.blue, .black {
		display: none;
	}
}
@media (min-width: 1000px) {
	.box {
		width: 100%;
	}
}
